html {
  height: 100%;
}

strong {
  font-size: 20px;
  font-family: 'Cutive Mono', monospace;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
  font-family: 'Open Sans Condensed', arial;
  background-color: white;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

hr {
  margin: 1em;
  width: 200px;
}

h3 {
  margin: 0;
  font-size: 25px;
}

h1 {
  color: black;
  font-size: 40px;
  font-family: 'Cutive Mono', monospace;
}

h4 {
  font-size: 35px;
  font-family: 'Cutive Mono', monospace;
}

h2 {
  clear: both;
  font-size: 40px;
  margin: 0;
}

h5 {
  font-size: 19px;
  margin: 0;
}

ul {
  list-style: none;
  list-style-position: inside;
  padding-left:0;
}

li {
  font-size: 16px;
  color: black;
  margin-left: 8px;
}

nav ul {
  display: none;
}

nav:hover ul {
  display: block;
}

nav li {
  font-size: 20px;
  padding-left: 0px;
  margin: 0px;
}

p {
  font-size: 18px;;
  margin: 0;
}

a, a:link {
  text-decoration: none;
  color: black;
}

/*#about a:hover, #projects a:hover, #contact a:hover, nav a:hover {
  text-decoration: #99ff99;
}*/

#about a, #projects a, #contact a {
  color: #99ff99;
}

a:active {
  font-weight: bold;
}

footer {
  margin: 10px auto;
  font-size: 15px;
  font-family: 'Open Sans Condensed', arial;
}

footer img {
  width: 20px;
}
