img {
  width: 100%;
  height: auto;
}

#img-portrait {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 2px;
  }

.project-img {
  width: 200px;
  height: auto;
  margin-top: 15px;
  }

.project-img-individual {
    width: auto;
    height: 80px;
}

@media only screen and (min-width: 640px) {
  img {
    width: 400px;
    height: auto;
    margin-top: 20px;
  }

  #img-portrait {
    width: auto;
    height: 500px;
    display: inline-block;
    float: left;
  }

}
