.home-education {
  width: 100%;
  height: auto;
  margin-left: 0;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}


.home-work {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
}

.education-div {
  margin-top: 25px;
}
