.color-1 {
  background-color: #ffdbdc;
}

.color-2 {
  background-color: #eaa0a2;
}

.color-3 {
  background-color: #aaaaaa;
}

.color-4 {
  background-color: #FEF1B5;
}

.color-5 {
  background-color: #3a4664;
  color: white;
}

.color-6 {
  background-color: #99ff99;
}

.icon-menu3 {
  font-size: 2.5em;
  margin: 1%;
}

.background-limit {
  width: 100%;
  margin-top: 30px;
}

.nav {
  padding: 5px;

}

article {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#about br {
  display: none;
}

.nav1 {
  display: none;
}

.mobile-width {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (min-width: 640px) {
  .icon-menu3 {
  display: none;
  }

  .nav1 ul{
    display: block;
  }

  .nav1 li {
    display: inline-block;
    padding-left: 20px;
    margin-left: 2px;
  }

  .nav1 li:hover {
    background-color: #eaa0a2;

  }

  body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    height: 50px;
    margin-bottom: 0px;
  }

  .about-div {
    margin-bottom: 30px;
    padding: 10px;
  }

  .background-limit-1 {
    width: 550px;
    margin-top: 30px;
  }

  .background-limit-2 {
    width: 550px;
    margin-top: 250px;
  }

  .background-limit-3 {
    width: 550px;
    margin-top: 20px;
  }

  .education-div {
    width: 330px;;
    height: 200px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    float:left;
  }

  .education-div:after {
    clear: both;
  }

  .home-div {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 85px;
    margin: 3px;
  }

  #homepage {
    margin-top: 40px;
  }

  #future {
    width: 698px;
    height: auto;
    display: inline-block;
    margin-left: 0px;
  }

  article {
    width: 600px;
    height: auto;
  }

  .main-margin {
    margin-top: 60px;
  }

  #about br {
   display: block;
  }
}
