.color-1 {
  background-color: #ffdbdc;
}

.color-2 {
  background-color: #eaa0a2;
}

.color-3 {
  background-color: #aaaaaa;
}

.color-4 {
  background-color: #FEF1B5;
}

.color-5 {
  background-color: #3a4664;
}
